body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: 300;
}  

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1rem;
}

img {
    width: 100%;
}

#map {
    height: 100vh;
    width: 100vw;
}

.home-info-icons {
    position: absolute;
    top: 45px;
    left: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.icon {
    font-size: 2.5rem;
    margin: 0.3em;
}

.icon,
.choose-continent-africa {
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

#icon-info {
    color: gold;
    animation: pulsate 1.5s infinite;
}

.center {
    display: flex;
    justify-content: center;
}

.what-and-how-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    position: absolute;
    top: 120px;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    z-index: 999;
}

.what-and-how-to p {
    line-height: 1.5rem;
}

.what-headline {
    color: rgb(180, 178, 178);
    padding: 1em 0 0 2.3em;
    align-self: flex-start;
    letter-spacing: 0.2rem;
    font-size: 2.3rem;
}

.what-headline span {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    margin-left: 8px;
    font-weight: 400;
}

.paragraph-welcome,
.choose-continent-headline,
.choose-continent-africa {
    padding: 1em 6.5em;
    letter-spacing: 0.05rem;
}

.what-and-how-to-grid {
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
    padding: 3em;
}

.what-and-how-to-explanation {
    font-size: 0.9rem;
    margin-top: 1em;
}

.choose-continent {
    align-self: flex-end;
    padding: 0 2em 2em 2em;
}

.choose-continent-headline,
.choose-continent-africa {
    padding: 0.3em 2em;
}

.choose-continent-headline {
    color: gold;
}

.choose-continent-africa,
.total-aid-amount {
    color: greenyellow;
}

.choose-continent-africa:hover {
    text-transform: uppercase;
}

#info-section-container {
    position: absolute;
    bottom: 50px;
    right: 25px;
    width: 25%;
    min-width: 650px;
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 4em;
}

.info-section-title {
    font-size: 2.1rem;
    padding: 0.01em 1em
}

.info-section-aid {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em
}

.total-aid-received,
.total-aid-amount { 
    padding: 0 0 15px 0;
}

.total-aid {
    color: gold;
}

.total-aid-amount {
    font-size: 1.5rem;
    padding: 0;
}

.relative-section {
    display: flex;
    flex-direction: column;
}

.aid-percentages {
    font-size: 2.6rem;
    margin: 0;
}

.aid-explanation {
    font-size: 0.8rem;
    margin-top: 0.5em;
    margin-bottom: 0;
}

#aid-graph-unspecified {
    display: none;
}

.aid-status {
    display: none;
    width: 81%;
    padding: 0.8rem 0;
    position: absolute;
    bottom: 75px;
    right: 35px;
    background-color: rgba(0,0,0, 0.9);
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    text-align: center;
    font-weight: 300;
    font-size: 0.9rem;
    z-index: 99
}

@keyframes pulsate {
    50% {
        transform: scale(1.1)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: scale(1.0)
    } 
}